body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f4f4;
    background-image: url(../Imagenes/Campo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #333; 
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width: 90%;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #4CAF50;
    margin-top: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4CAF50;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fafafa;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

td {
    color: #555;
}

tr:hover {
    background-color: #f9f9f9;
}

.boton-container {
    margin-top: 30px;
    text-align: center;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.boton:hover {
    background-color: #45a049;
}

.boton:active {
    background-color: #388e3c;
}

a.boton {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 12px 25px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 20px;
}

a.boton:hover {
    background-color: #1976D2;
}

a.boton:active {
    background-color: #1565C0;
}

a {
    text-decoration: none;
}

.error-message {
    color: red;
    margin-top: 20px;
    text-align: center;
}

.success-message {
    color: green;
    margin-top: 20px;
    text-align: center;
}


.retirar-boton {
    background-color: #FF5722;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.retirar-boton:hover {
    background-color: #F4511E;
}

.retirar-boton:active {
    background-color: #D84315;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    .boton {
        padding: 10px 20px;
    }

    a.boton {
        padding: 10px 20px;
    }
}
