<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/estilosCrearMensaje.css">
    <title>Creación de Mensajes</title>
</head>
<body>
	<header>
	       <h1> Creación de  Mensajes</h1>
	     </header>



<form th:action="@{/mensajes/CamposMensaje}" method="post">
	<p th:if="${exito}" th:text="${exito}" class="exito"></p>
	<p th:if="${error}" th:text="${error}" class="error"></p>
	<select id="id" name="id" required>
	         <option value="">Selecciona un ejemplar</option>
	         <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.id}" th:text="${ejemplar.id} + ' - ' + ${ejemplar.nombre}"></option>
	     </select>
    
    <input type="date" id="fechahora" name="fechahora" required>
     
     <textarea id="mensaje" rows="4" name="mensaje" required placeholder="Introduca mensaje"></textarea>
     
     <button class="boton" type="submit">Crear Mensaje</button>
     <br><br>
      <div class="contenedor-boton">
        <a href="/mensajes/GestiondeMensajes" class="boton">Volver a Gestión de Mensajes</a>
    </div>
  </form>

</body>
</html>
