<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/estiloslistadoMensajes.css}">
    <title>Filtrar Mensajes por Fecha</title>
</head>
<body>

    <header>
        <h1>*Filtrar Mensajes por Fecha*</h1>
    </header>

    <div class="container">
        <form action="/filtrarMensajesPorFecha" method="get">
            <label for="fechaInicio">Fecha Inicio:</label>
            <input type="text" id="fechaInicio" name="fechaInicio" placeholder="yyyy-MM-dd" required />
            
            <label for="fechaFin">Fecha Fin:</label>
            <input type="text" id="fechaFin" name="fechaFin" placeholder="yyyy-MM-dd" required />
            
            <button type="submit">Filtrar</button>
        </form>

     
        <div th:if="${error}">
            <p th:text="${error}" style="color: red;"></p>
        </div>

       
        <div th:if="${mensajes != null}">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha y Hora</th>
                        <th>Mensaje</th>
                        <th> Ejemplar</th>
                        <th> Persona</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mensaje : ${mensajes}">
                        <td th:text="${mensaje.id}"></td>
                        <td th:text="${#dates.format(mensaje.fechahora, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${mensaje.mensaje}"></td>
                        <td th:text="${mensaje.ejemplar.nombre}"></td>
                        <td th:text="${mensaje.persona.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="menu-container">
			<ul class="menu">
				<li><a th:href="@{/mensajes/MenuFiltradoMensajes}"> Salir</a></li>
			</ul>
		</div>
    </div>
</body>
</html>
