<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Gestión de Mensajes</title>
<link rel="stylesheet"  type="text/css" href="/CSS/estilosGestiondeMensajes.css" />
</head>
<body>
	<header>
		<h1>*Gestión de Mensajes*</h1>
	</header>

	<div class="menu-container">
		<ul class="menu">
			<li><a th:href="@{/mensajes/mostrarCrearMensajes}">Crear Mensajes</a></li>
			<li><a  th:href="@{/mensajes/mensajes}">Ver todos los mensajes (sin filtrar)</a></li>
			<li><a  th:href="@{/mensajes/MenuFiltradoMensajes}">Ver mensajes (Filtrados)</a></li>
			<li><a th:href="@{/mensajes/GestionMensajesMenuAdmin}"> Volver</a></li>
			<li><a th:href="@{/auth/logout}">Cerrar Sesion</a></li>
		</ul>
	</div>
</body>
</html>