<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/estiloslistadoPlantas.css}">
<title>Listado de Plantas</title>
</head>
<body>

	<header>
		<h1>Listado de Plantas</h1>
	</header>

	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Codigo</th>
					<th>Nombre Común</th>
					<th>Nombre Científico</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="planta : ${plantas}">
					<td th:text="${planta.id}"></td>
					<td th:text="${planta.codigo}"></td>
					<td th:text="${planta.nombrecomun}"></td>
					<td th:text="${planta.nombrecientifico}"></td>
				</tr>
			</tbody>
		</table>

		<div class="boton-container">
			<a href="/inicio" class="boton"> Volver</a>
		</div>
	</div>

</body>
</html>
