<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/estilosCreacionPlantas.css">
    <title>Crear Plantas</title>
</head>
<body>
    <header>
        <h1>Admin Creación de Planta</h1>
      </header>
  	
<p th:if="${exito}" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${exito}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</p>


<p th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</p>
  	
        <form class="formulario" th:action="@{/plantas/CamposPlanta}" th:object="${planta}" method="post">     
           
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" th:field="*{codigo}" required />
            
           
            <label for="nombrecomun">Nombre Común:</label>
            <input type="text" id="nombrecomun" name="nombrecomun" th:field="*{nombrecomun}" required />
            
    
            <label for="nombrecientifico">Nombre Científico:</label>
            <input type="text" id="nombrecientifico" name="nombrecientifico" th:field="*{nombrecientifico}" required />
            
          
            <button type="submit" class="boton">Crear Planta</button>
        </form>
       <div class="contenedor-boton">
        <a href="/GestiondePlantas" class="boton"> Volver a Gestion de Plantas</a>
    </div>
</body>
</html>