<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/estilosModificaciondePlanta.css">
    <title>Modificar Planta</title>
</head>
<body>
    <header>
        <h1>Admin Modificación de Planta</h1>
    </header>
    
    <p th:if="${exito}" th:text="${exito}" class="mensaje-exito"></p>
    <p th:if="${error}" th:text="${error}" class="mensaje-error"></p>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Nombre Común</th>
                    <th>Nombre Científico</th>
                    <th>Acción</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="planta : ${plantas}">
                    <td th:text="${planta.id}"></td>
                    <td th:text="${planta.codigo}"></td>
                    <td th:text="${planta.nombrecomun}"></td>
                    <td th:text="${planta.nombrecientifico}"></td>
                    <td>
                        <a th:href="@{/plantas/formularioModificarPlanta/{id}(id=${planta.id})}" class="boton">Modificar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="boton-container">
            <a href="/GestiondePlantas" class="boton">Volver a Gestión de Plantas</a>
        </div>
    </div>
</body>
</html>
