<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/CSS/estilosFormularioLogIn.css">
<title>Formulario de Inicio de Sesión</title>
</head>
<body>
	<h2>Inicio de Sesión</h2>

	
	<form th:action="@{/auth/leerlogin}" method="post">
		<p th:if="${exito}" th:text="${exito}" class="exito"></p>
	<p th:if="${error}" th:text="${error}" class="error"></p>
	
		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="username"
				name="username" placeholder="Introduce tu usuario" required>
			<label for="floatingInput"></label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="pasword"
				name="password" placeholder="Introduce tu contraseña" required>
			<label for="floatingPassword"></label>
		</div>


		
			<div>
				<button type="submit" class="btn color-boton">INICIAR
					SESIÓN</button>

			</div>



			<div class="boton-container">
				<a href="/inicio" class="boton">Volver</a>
			</div>
	</form>

</body>
</html>
